html {
    scroll-behavior: smooth;
  }

.para1 {
    background: url('images/1.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}


.back {
    background-color: rgb(102, 102, 102);
    color: white;
}

#logo {
    height: 800px;
    width: auto;
    position: relative;
    top: 10%;
    left: 34%;
    margin-top: -100px;
    margin-left: -100px;
}