html {
    scroll-behavior: smooth;
  }

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.para1 {
    background: url('images/1.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.para2 {
    background: url('images/2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

.para3 {
    background: url('images/3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

h1 {
    padding-top: 10px;
}

#title {
    float: left;
    color: rgb(46, 46, 46);
}

.back {
    background-color: rgb(102, 102, 102);
    color: white;
}

/* Takiri */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 16em;
	line-height: 1;
	color: #474747;
	display: inline-block;
}

.link--takiri {
	font-style: italic;
	font-family: 'Major Mono Display', monospace;
	font-weight: 700;
	font-size: 7em;
	padding: 0 10px 20px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--takiri:hover::before {
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.link--takiri span {
	font-size: 35%;
	font-weight: 400;
	position: absolute;
	right: 10px;
	color: #ee1c1c;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translate3d(-20px,-20px,0);
	transform: translate3d(-20px,-20px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.grid__item {
	height: 100%;	
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

/* .grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
} */

#logo {
    text-align: center;
    vertical-align: center;
}

#lg {
    width: 50%;
    height: 40%;
    margin-top: -5%;
    max-width: 800px;
}

.card-title {
    border-bottom:1px;
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-width: 100%;
    padding-bottom: 5px;
}

a:link {
    color: grey;
  }

a:visited {
    color: grey;
  }
  
a:hover {
    color:grey;
  }

.navbar-brand {
    font-family: 'Major Mono Display', monospace;
    font-size: 36px;
}

.nav-link {
    font-family: 'Major Mono Display', monospace;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
}

.card {
    font-family: 'Titillium Web', sans-serif;
}

.card-title {
    font-family: 'Major Mono Display', monospace;
}

.navbar {
    line-height: .7;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#footer {
    font-size: 12px;
    text-align: center;
    height: 30px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

#skillsinfo {
    text-align: center;
}

#email {
    color: red;
}

